In [2]:
import pandas as pd

In [3]:
d=pd.read_csv(r'C:\Users\asiva\OneDrive\Desktop\Most_Visited_Destination_in_2018_and_2019.csv')

In [4]:
d.shape

(50, 5)

In [5]:
f=pd.DataFrame(d)
f

,Unnamed: 0,Destination,International tourist arrivals (2019),International tourist arrivals (2018),Region
0,0,Egypt,13.0 million,11.3 million,Africa
1,1,Morocco,12.9 million,12.3 million,Africa
2,2,South Africa,10.2 million,10.5 million,Africa
3,3,Tunisia,9.4 million,8.3 million,Africa
4,4,Algeria,2.4 million,2.7 million,Africa
5,5,Zimbabwe,2.3 million,2.6 million,Africa
6,6,Mozambique,2.0 million,2.7 million,Africa
7,7,Ivory Coast,–,2.0 million,Africa
8,8,Kenya,–,1.9 million,Africa
9,9,Botswana,–,1.7 million,Africa
10,10,United States,79.3 million,79.7 million,America
11,11,Mexico,45.0 million,41.3 million,America
12,12,Canada,22.1 million,21.1 million,America
13,13,Argentina,7.4 million,6.9 million,America
14,14,Dominican Republic,6.4 million,6.6 million,America
15,15,Brazil,6.4 million,6.6 million,America
16,16,Peru,5.2 million,5.3 million[5],America
17,17,Chile,4.5 million,5.7 million,America
18,18,Cuba,4.3 million,4.7 million,America
19,19,Colombia,4.2 million,4.0 million,America
20,20,China,65.7 million,62.9 million,Asia & The Pacific
21,21,Thailand,39.8 million,38.2 million,Asia & The Pacific
22,22,Japan,32.2 million,31.2 million,Asia & The Pacific
23,23,Malaysia,26.1 million,25.8 million,Asia & The Pacific
24,24,Hong Kong,23.8 million,29.3 million,Asia & The Pacific
25,25,Macau,18.6 million,18.5 million,Asia & The Pacific
26,26,Vietnam,18.0 million,15.5 million,Asia & The Pacific
27,27,India,17.9 million,17.4 million,Asia & The Pacific
28,28,South Korea,17.5 million,15.3 million,Asia & The Pacific
29,29,Indonesia,15.5 million,13.4 million,Asia & The Pacific
30,30,France,90.9 million,-,Europe
31,31,Spain,83.5 million,-,Europe
32,32,Turkey,51.2 million,-,Europe
33,33,Italy,64.5 million,-,Europe
34,34,United Kingdom,39.4 million,-,Europe
35,35,Germany,39.6 million,-,Europe
36,36,Greece,31.3 million,-,Europe
37,37,Austria,31.9 million,-,Europe
38,38,Portugal,24.5 million,-,Europe
39,39,Netherlands,20.1 million,-,Europe
40,40,Saudi Arabia,17.5 million,15.5 million,West Asia
41,41,United Arab Emirates,16.7 million,15.9 million,West Asia
42,42,Egypt,13.0 million,11.3 million,West Asia
43,43,Iran,9.1 million,7.3 million,West Asia
44,44,Israel,4.6 million,4.1 million,West Asia
45,45,Jordan,4.5 million,4.2 million,West Asia
46,46,Bahrain,3.8 million,4.4 million,West Asia
47,47,Oman,2.5 million,2.3 million,West Asia
48,48,Qatar,2.1 million,1.8 million,West Asia
49,49,Lebanon,1.9 million,2.0 million,West Asia

In [46]:
d.columns

Index(['Unnamed: 0', 'Destination', 'International  tourist  arrivals  (2019)',
       'International  tourist  arrivals  (2018)', 'Region'],
      dtype='object')

In [33]:
d.isnull().sum()

Unnamed: 0                                  0
Destination                                 0
International  tourist  arrivals  (2019)    0
International  tourist  arrivals  (2018)    0
Region                                      0
dtype: int64

In [98]:
k.head(2)

Africa     10
America    10
Name: Region, dtype: int64

In [103]:
g=d['International  tourist  arrivals  (2019)'].value_counts()
g

–               3
13.0 million    2
4.5 million     2
6.4 million     2
17.5 million    2
4.6 million     1
9.1 million     1
15.5 million    1
90.9 million    1
83.5 million    1
51.2 million    1
64.5 million    1
39.4 million    1
39.6 million    1
2.1 million     1
31.3 million    1
2.5 million     1
17.9 million    1
24.5 million    1
20.1 million    1
16.7 million    1
3.8 million     1
31.9 million    1
18.6 million    1
18.0 million    1
12.9 million    1
10.2 million    1
9.4 million     1
2.4 million     1
2.3 million     1
2.0 million     1
79.3 million    1
45.0 million    1
22.1 million    1
7.4 million     1
5.2 million     1
4.3 million     1
4.2 million     1
65.7 million    1
39.8 million    1
32.2 million    1
26.1 million    1
23.8 million    1
1.9 million     1
Name: International  tourist  arrivals  (2019), dtype: int64

In [97]:
k=d['Region'].value_counts()
k

Africa                10
America               10
Asia & The Pacific    10
Europe                10
West Asia             10
Name: Region, dtype: int64

import numpy as np

In [9]:
d1=np.array(d)

In [10]:
d1.shape

(50, 5)

In [11]:
type(d1)

numpy.ndarray

In [82]:
m=np.max(k)
m

UFuncTypeError: ufunc 'maximum' did not contain a loop with signature matching types (dtype('<U460'), dtype('<U460')) -> None

In [78]:
for i in k:
    if i=='Africa':
        print(i)
    else:
        print('no')

no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no
no